In [1]:
import pandas as pd

In [2]:
TSDEM = pd.read_csv("TSDEM.csv")
TSDEM.columns = [columna.upper() for columna in TSDEM.columns]

In [3]:
TSDEM

,UPM,VIV_SEL,HOGAR,N_REN,LLAVE_VIV,LLAVE_HOG,LLAVE_PER,ENT,TAM_LOC,PAREN,...,PAR_AG,NIV_ESC,ESCO_ACUM,C_AFIL,P3_27_AG,COND_ACT,C_LIMDISC,ESTRATO,EST_DIS,UPM_DIS
0,3006676,3,1,3,300667603,3006676031,300667603103,30,2,6,...,4,7.0,16.0,1,4.0,1.0,1,2,592,14234
1,3006676,3,1,4,300667603,3006676031,300667603104,30,2,8,...,4,6.0,12.0,1,1.0,2.0,1,2,592,14234
2,3006676,3,1,5,300667603,3006676031,300667603105,30,2,3,...,3,1.0,0.0,1,NaN,NaN,1,2,592,14234
3,3006676,4,1,1,300667604,3006676041,300667604101,30,2,1,...,1,6.0,12.0,2,1.0,1.0,1,2,592,14234
4,3006301,3,1,2,300630103,3006301031,300630103102,30,2,2,...,2,5.0,9.0,2,3.0,2.0,3,3,593,14225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359013,2603004,4,1,1,260300404,2603004041,260300404101,26,1,1,...,1,6.0,12.0,1,4.0,1.0,1,4,485,12321
359014,2603004,4,1,2,260300404,2603004041,260300404102,26,1,3,...,3,5.0,9.0,1,1.0,2.0,1,4,485,12321
359015,2603004,4,1,3,260300404,2603004041,260300404103,26,1,8,...,4,2.0,4.0,1,NaN,NaN,1,4,485,12321
359016,2603004,5,1,1,260300405,2603004051,260300405101,26,1,1,...,1,5.0,9.0,1,4.0,1.0,1,4,485,12321
359017,2603004,5,1,2,260300405,2603004051,260300405102,26,1,8,...,4,6.0,12.0,1,1.0,1.0,1,4,485,12321

In [4]:
TSDEM.columns.tolist()

['UPM',
 'VIV_SEL',
 'HOGAR',
 'N_REN',
 'LLAVE_VIV',
 'LLAVE_HOG',
 'LLAVE_PER',
 'ENT',
 'TAM_LOC',
 'PAREN',
 'PAREN_C',
 'SEXO',
 'EDAD',
 'P3_4',
 'P3_5',
 'P3_5A',
 'P3_6',
 'P3_6A',
 'P3_7',
 'P3_8_1',
 'P3_9_1',
 'P3_8_2',
 'P3_9_2',
 'P3_8_3',
 'P3_9_3',
 'P3_8_4',
 'P3_9_4',
 'P3_8_5',
 'P3_9_5',
 'P3_8_6',
 'P3_9_6',
 'P3_8_7',
 'P3_9_7',
 'P3_8_8',
 'P3_9_8',
 'P3_10',
 'P3_10C',
 'P3_11',
 'P3_12',
 'P3_13',
 'P3_14A1',
 'P3_14B1',
 'P3_14A2',
 'P3_14B2',
 'P3_14A3',
 'P3_14B3',
 'P3_14A4',
 'P3_14B4',
 'P3_14A5',
 'P3_14B5',
 'P3_14A6',
 'P3_14B6',
 'P3_14A7',
 'P3_14B7',
 'P3_14A8',
 'P3_14B8',
 'P3_15',
 'P3_16',
 'P3_16C',
 'P3_17',
 'P3_17C',
 'P3_18',
 'P3_18C',
 'P3_19',
 'P3_20C',
 'P3_21',
 'NIV',
 'GRA',
 'P3_23',
 'P3_24',
 'P3_24C',
 'P3_25',
 'P3_25C',
 'P3_26',
 'P3_26C',
 'P3_27',
 'P3_28_1',
 'P3_28_2',
 'P3_28_3',
 'P3_28_4',
 'P3_28_5',
 'P3_28_6',
 'P3_28_7',
 'P3_29',
 'P3_30',
 'P3_31',
 'P3_32',
 'FAC_VIV',
 'T_LOC_UR',
 'T_LOC_AG1',
 'CON_ELE',
 'EDAD_1AG',
 'EDAD_2AG',
 'PAR_AG',
 'NIV_ESC',
 'ESCO_ACUM',
 'C_AFIL',
 'P3_27_AG',
 'COND_ACT',
 'C_LIMDISC',
 'ESTRATO',
 'EST_DIS',
 'UPM_DIS']

In [6]:
TSDEM["FAC_VIV"]
# factor de expansión (vivienda)

0         664
1         664
2         664
3         664
4         551
         ...
359013    267
359014    267
359015    267
359016    267
359017    267
Name: FAC_VIV, Length: 359018, dtype: int64

In [7]:
TSDEM["FAC_VIV"].sum()

129477554

In [8]:
for i in range(1,3):
    print(i, " ", TSDEM[TSDEM["SEXO"]==i]["FAC_VIV"].sum())

1   62516630
2   66960924

In [9]:
TSDEM["NIV"]

0         8.0
1         6.0
2         1.0
3         6.0
4         3.0
         ...
359013    6.0
359014    3.0
359015    2.0
359016    3.0
359017    6.0
Name: NIV, Length: 359018, dtype: float64

In [15]:
print(" \tH\t\tM")
for i in range(1,12):
    TSDEM_NIV = TSDEM[TSDEM["NIV"]== i]
    hombres = TSDEM_NIV[TSDEM_NIV["SEXO"]==1]["FAC_VIV"].sum()
    mujeres = TSDEM_NIV[TSDEM_NIV["SEXO"]==2]["FAC_VIV"].sum()
    print(i, "\t", hombres, "\t", mujeres)

 	H		M
1 	 2293472 	 2285220
2 	 16379712 	 17809524
3 	 15273052 	 16472869
4 	 57221 	 155256
5 	 754657 	 1600534
6 	 11064282 	 10741633
7 	 954780 	 1353099
8 	 9556421 	 9664257
9 	 174332 	 176073
10 	 713699 	 735156
11 	 130727 	 120144

# CUADRO 9.1

In [19]:
print(0, " ", TSDEM["FAC_VIV"].sum())

for i in range(1,33):
    pob_est = TSDEM[TSDEM["ENT"] == i]
    pob_gral = pob_est["FAC_VIV"].sum()
    aqui =     pob_est[(pob_est["P3_10"]==1)]["FAC_VIV"].sum()
    otro_edo = pob_est[(pob_est["P3_10"]==2)]["FAC_VIV"].sum()
    eua =      pob_est[(pob_est["P3_10"]==3)]["FAC_VIV"].sum()
    otro_pais = pob_est[(pob_est["P3_10"]==4)]["FAC_VIV"].sum()
    print(f"{i} {pob_gral} {aqui} {otro_edo} {eua} {otro_pais}")

0   129477554
1 1497719 1225391 260823 8495 3010
2 3789475 2150579 1524508 101804 12584
3 871684 527857 332995 6462 4370
4 951014 751235 188154 1079 10546
5 3299312 2852459 421271 21761 3821
6 744603 538987 197647 6815 1154
7 5715110 5431697 220584 6185 56644
8 3854535 3040687 700134 103584 10130
9 9302174 7577741 1659120 13840 51473
10 1880921 1643476 226234 11074 137
11 6302439 5697053 563441 29529 12416
12 3615144 3371395 230128 12471 1150
13 3211987 2678196 520450 10063 3278
14 8598675 7451790 1090966 44509 11410
15 17510972 11589359 5893709 15820 12084
16 5004980 4499497 466709 37533 1241
17 1978025 1470986 494936 6988 5115
18 1268750 1002292 251355 12054 3049
19 6122843 4695383 1383181 19103 25176
20 4318162 4014448 280045 16876 6793
21 6625071 5870753 731352 16449 6517
22 2519794 1934070 568945 8807 7972
23 1913304 951719 923014 2847 35724
24 2859701 2551048 295204 9318 4131
25 3089614 2760054 315968 11335 2257
26 2994354 2554979 386045 50411 2919
27 2477264 2252390 217585 1326 5963
28 3577764 2740852 772409 60075 4428
29 1420195 1165620 251297 2336 942
30 8133038 7335344 783384 9713 4597
31 2382868 2130867 242754 2818 6429
32 1646063 1422948 207730 13047 2338

# 9.4

# Tarea 3 tabulados y obtener conclusión